

@model IEnumerable<XmlDemo.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


      @Html.ActionLink("Import Gift Items", "ImportProducts")           
</p>
<p>
@using (Html.BeginForm())
{
    
<div style="float: left; padding: 5px; margin: 10px; font-weight: bold;">
   		Filter by Category
</div>
   <div style="float: left; padding: 5px; margin: 10px; font weight: bold;">
   		@Html.DropDownList("GiftList", "All")

   </div>
    <div style="float: left; padding: 5px; margin: 10px; font weight: bold;">
   		Price Range

    </div>
    
   <div style="float: left; padding: 5px; margin: 10px; font weight: bold;">
       <select id="priceRange" name="priceRange">
           <option value="null" selected="selected">All</option>
           <option value="1">Less than $50</option>
           <option value="2">Between $50 and $100</option>
           <option value="3">More than $100</option>
       </select>
   </div>
   <div style="float: left; padding: 5px; margin: 10px; font weight: bold;">
<input type="submit" value="Filter Gifts" />
   </div>
<br />
    
    
}






<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productcategory.strCategory)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productcategory.strCategory)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
